*,
::before,
::after {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 70px;
}

body {
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    /* font-family: Montserrat; */
    background-color: transparent;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

header {
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.4rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2rem);
}

header .nav-link {
    color: #fff;
}

.nav-list {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 1rem;
    color: #000;
    padding: 0 1rem;
    transition: opacity 0.5s;
}

.nav-link:hover {
    opacity: 0.7;
}

.nav-link-apple {
    /* background: url("/images/dlady.png") center no-repeat;
    background-size: 100px 60px; */
    font-family: "Adine Kirnberg", sans-serif;
    align-items: center;
    font-size: 48px;
    width: 6rem;
    height: 4.4rem;
}

.nav-link-search {
    width: 1.6rem;
    height: 4.4rem;
    background: url("/images/search.svg") center no-repeat;
}

.nav-link-bag {
    width: 1.6rem;
    height: 4.4rem;
    background: url("/images/bag.svg") center no-repeat;
}

.cart-count {
    background-color: rgb(255, 159, 10);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
}

.card-header {
    background-color: rgb(199, 199, 204);
}

.category_link {
    background-color: rgb(199, 199, 204);

    border-radius: 20px;
}

a.category_link:hover {
    background: rgb(229, 229, 234);
}

/* a.category_link:active{
    background: orange;
    color: white;

} */

.price {
    font-size: 30px;
}

.wrap {
    margin-top: 25px;
}

ul.rating li {
    display: inline;
}

.description {
    margin-top: 200px;
}

.view-body {
    margin-top: 50px;
}

.views {
    margin-top: 150px;
    margin-bottom: 100px;
}

.title {
    font-style: bold;
    margin-bottom: 50px;
}

.page-footer {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2rem);
    color: white;
    font-size: 1rem;
}

.section-product {
    margin-top: 150px;
}

.card-desk {
    margin-top: 20px;
    margin-bottom: 40px;

    width: 400px;
    height: 300px;
}

.category {
    margin-top: 100px;
    position: static;
}

/* .nav {
    margin-left: 250px;
} */

/* .logo {
    font-family: "Adine Kirnberg", sans-serif;
    

    font-size: 78px;
    font-style: italic;
} */

/* .navbar-nav {
    margin-right: 200px;
}

.nav-link,
.form-group,
.btn,
.shopHeader {
    font-weight: bold;
} */

.form {
    align-items: center;
}

.card-img-top {
    height: 300px;
}

.sidebar {
    margin: 0;
    border: 0;
    background-color: #121212;
    width: 50px;
    height: 100%;
}

.jumbotron {
    height: 10px;
}

@media only screen and (max-width: 1199px) {
    .nav {
        margin-left: 280px;
    }
}

@media only screen and (max-width: 990px) {
    .nav {
        margin-left: 150px;
    }
}

@media screen and (max-width: 767px) {
    header {
        height: 4.8rem;
        transition: bacground 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
            height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1);
    }

    header .container {
        padding: 0;
    }

    .nav-link-apple {
        background-size: 80px 40px;
        /* font-family: "Adine Kirnberg", sans-serif; */
        width: 6rem;
        height: 4.4rem;
    }

    .nav-list-larger {
        display: none;
    }

    .nav-list {
        margin-top: 0;
    }
    .nav-list-mobile {
        display: flex;
    }

    .nav-item {
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
    }

    .nav-item-hidden {
        display: none;
    }

    .mobile-menu {
        position: relative;
        z-index: 1500;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .line {
        position: absolute;
        width: 1.7rem;
        height: 1px;
        background-color: #fff;
        transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    .line-top {
        margin-top: 3px;
    }

    .line-bottom {
        margin-top: -0.4rem;
    }

    .active .line-top {
        margin-top: 0;
        transform: rotate(45deg);
        transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    .active .line-bottom {
        margin-top: 0;
        transform: rotate(-45deg);
        transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    header .active {
        height: 100%;
        background-color: #000;
    }

    .nav-link-apple {
        position: relative;
        z-index: 1500;
    }

    .nav-link-bag {
        width: 1.6rem;
        height: 4.8rem;
        transition: opacity 3s;
    }

    /* .nav {
        position: relative;
    } */

    .nav-link {
        /* font-size: 1.7rem; */
        padding: 0;
        margin: auto 0;
    }

    .nav-list-larger {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        display: block;
        padding: 10.5rem 5rem;
        z-index: 1000;
        box-sizing: border-box;
        opacity: 0;
        visibility: hidden;
        transition: opacity 3s;
    }

    .active .nav-list-larger {
        width: 100%;
        height: 100vh;
        opacity: 1;
        visibility: visible;
    }

    .active .nav-list-bag {
        opacity: 1;
        transition: opacity 0.3s;
    }

    .nav-list-larger .nav-item {
        width: 100%;
        justify-content: flex-start;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }

    .nav-list-larger .nav-item:nth-child(5) {
        border-bottom: none;
    }

    .active .nav-list-larger .nav-item {
        animation: fadeIn 1s ease-in;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
